<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_ADMOB_PUBLISHER_ID_HERE"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HeroScreens.HeroScreen" >
        </activity>
        <activity android:name=".ItemScreens.ItemScreenFragment" >
        </activity>
        <activity android:name=".CreditsScreen" >
        </activity>
        <activity android:name=".PrivacyPolicyScreen" >
        </activity>
        <activity android:name=".GameplayUpdatesScreen" >
        </activity>
        <activity android:name=".NeutralsItemScreens.NeutralsItemMainActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsMainActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsSmallCampActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsMediumCampActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsLargeCampActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsAncientCampActivity" >
        </activity>
        <activity android:name=".NeutralsScreens.NeutralsSelected" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicMainActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicLastHittingActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicWardingActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicHeroPositionsActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicObjectivesActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicLanesActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicRunesActivity" >
        </activity>
        <activity android:name=".GameGuideBasicScreens.GameGuideBasicRoshanActivity" >
        </activity>
    </application>

</manifest>